body{
    padding: 0px;
    margin: 0px;
}

section {
    width: 350px;
    height: 700px;
    text-align: center;
    
}

.splash {
    
}

.home {
    background-image: url("../img/home/textura-inicial.png");
    background-color: #444CAF;
}

.juego {
    background: Violet;
}

.instrucciones {
    background: YellowGreen;
}

.creditos {
    background: DeepSkyBlue;
}

.instrucciones p {
    margin: 25px;
    text-align: left;
}

.boton {
    background-color: Navy;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.volver {
    margin-left: -300px;
    line-height: 50px;
}

.botonhome {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    background-color: #fff;
    text-decoration: none;
    width: 300px;
    height: 100px;
}

#logoprincipal {
    width: 100px;
    height: 100px;
}

#logosplash{
    display:block;
    margin:auto;
}

#fondosplash{
    width: 350px;
    height: 700px;;
}


.contenedorimg {
    overflow: hidden;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.imagenjuego {
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
}

.oculto {
    display: none;
}
@font-face {
    font-family: "FontAwesome";
    src: url("fontawesome-webfont.woff");
}

p {
    font-size: 200%;
}

.icono::before {
    font-family: "FontAwesome", sans-serif;
    content: "\f058";
}

.icono-ayuda {
    margin-right: 20px;
}

#botoncreditos{
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 350px;
}

/* Secciones */

#seccion_4{
    
}